vllm>=0.8.5
numpy
pandas
scikit-learn
seaborn
torch
transformers
matplotlib

# Web UI
requests
websockets
python-multipart
uvicorn
fastapi
openai

jiter
pypandoc
click
annotated_doc
starlette
urllib3
distro
httpx
pydantic
pydantic-core
typing_extensions
typing_inspection
annotated_types
idna
sniffio
anyio
certifi
httpcore
prettyformatter
pytz
python-dateutil
openpyxl
packaging
pillow
pyparsing
cycler
kiwisolver
